create database ElearningDB;
create schema elearning;


create table elearning.Students(
    student_id serial primary key,
    first_name varchar(100) not null,
    last_name varchar(100) not null,
    email varchar(100) unique not null
);

create table elearning.Intructors(
    instructor_id serial primary key,
    first_name varchar(100) not null,
    last_name varchar(100) not null,
    email varchar(100) unique not null
);

create table elearning.Courses(
    course_id serial primary key,
    course_name varchar(100) not null,
    instructor_id int references  elearning.Intructors(instructor_id)
);

create table elearning.Enrollments(
    enrollment_id serial primary key,
    enroll_date date not null,
    student_id int references elearning.Students(student_id),
    course_id int references elearning.Courses(course_id)
);

create table elearning.Assignments(
    assignment_id serial primary key,
    title varchar(100) not null,
    due_date date not null,
    course_id int references elearning.Courses(course_id)
);

create table elearning.Submission(
    submission_id serial primary key,
    assignment_id int references elearning.Assignments(assignment_id),
    student_id int references elearning.Students(student_id),
    submission_date date not null,
    grade numeric(4,2) check( grade between 0 and 100)
);

