
create database UniversityDB;
create schema university;

create table university.Students(
    student_id serial primary key,
    first_name varchar(50) not null,
    last_name varchar(50) not null,
    birth_date date,
    email varchar(50) not null unique
);

-- drop table Students;
-- drop table Courses;
-- drop table Enrollments;

create table university.Courses(
    course_id serial primary key,
    course_name varchar(100) not null,
    credits int
);

create table university.Enrollments(
    enrollment_id serial primary key,
    student_id int references university.Students(student_id),
    course_id int references university.Courses(course_id),
    enroll_date date
);

select datname from pg_database;
select schema_name from information_schema.schemata;
select *
from information_schema.columns;