create database saleDB;
create schema sales;


create table sales.Customers(
    customer_id serial primary key,
    first_name varchar(100) not null,
    last_name varchar(100) not null,
    email varchar(100) unique not null,
    phone bigint
);

create table sales.Products(
    product_id serial primary key,
    product_name varchar(100) not null,
    price numeric(10,2) not null,
    stock_quantity int not null
);

create table sales.Order(
    order_id serial primary key,
    customer_id int references sales.Customers(customer_id),
    order_date date not null
);

create table sales.OrderItem(
    orderitem_id serial primary key,
    order_id int references sales.order(order_id),
    product_id int references sales.products(product_id),
    quantity int check(quantity > 1)
);
